.back {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 0.33em;
  opacity: 0.7;
  margin-bottom: 40px;
  transition: opacity 100ms ease-in-out;
}
.back:active,
.back:focus,
.back:hover {
  opacity: 1;
}

.button {
  background-color: rgb(var(--brand-dark-rgb));
  border-radius: 20rem;
  color: rgb(var(--brand-dark-inverse-rgb));
  display: inline-flex;
  padding: 1rem 2rem;
  transition: background-color 120ms ease-in-out;
}
.button:active,
.button:focus,
.button:hover {
  background-color: rgb(var(--brand-rgb));
  cursor: pointer;
}

.card {
  background-color: rgb(var(--background-light-rgb));
  border-radius: 12px;
  padding: 30px 20px;
}

.container {
  padding: 0 20px;
}
@media only screen and (min-width: 600px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 40px;
    width: 680px;
  }
}

.link {
  border-bottom: 1px solid rgb(var(--border-rgb));
}

.list {
  margin-bottom: 40px;
}

.listItem {
  background-color: rgb(var(--background-light-rgb));
  border-top: 1px solid rgb(var(--border-rgb));
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  transition: background-color 100ms ease-in-out;
}
@media only screen and (min-width: 600px) {
  .listItem {
    flex-direction: row;
  }
}
.listItemFirst {
  border-top: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.listItemLast {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.listItemOutOfStock {
  background-color: rgb(var(--background-warning-rgb));
}
.listItem:active,
.listItem:focus,
.listItem:hover {
  background-color: rgb(var(--background-brand-rgb));
  cursor: pointer;
}

.listItemBadge {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 0.8em;
  gap: 0.4em;
  justify-items: flex-start;
  width: auto;
}
@media only screen and (min-width: 600px) {
  .listItemBadge {
    margin-left: auto;
  }
}
.listItemBadge:before {
  background-color: rgb(var(--warning-rgb));
  border-radius: 100%;
  content: '';
  display: flex;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}

.listItemText {
  font-size: 0.8em;
  padding-right: 20px;
}

.listItemTitle {
  font-weight: 600;
  line-height: 2em;
}

.logo {
  color: rgb(var(--brand-rgb));
}

.header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-items: flex-start;
  padding: 40px 20px;
}
@media only screen and (min-width: 600px) {
  .header {
    padding: 30px 40px 80px 40px;
  }
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.prescriptionList {
  display: flex;
  background-color: #ffffff;
}

.pageTitle {
  color: rgb(var(--brand-dark-rgb));
  font-size: 1.3em;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
  .pageTitle {
    font-size: 1.9em;
  }
}

.prescribedBy {
  border-left: 3px solid rgb(var(--brand-rgb));
  font-weight: 300;
  line-height: 1.5em;
  padding-left: 20px;
}

.prescriptionProductTitle {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.productBadge {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 0.8em;
  gap: 1em;
  justify-items: flex-start;
  margin-bottom: 40px;
  width: auto;
}
.productBadge:before {
  border-radius: 100%;
  content: '';
  display: flex;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.productBadgeSuccess:before {
  background-color: rgb(var(--success-rgb));
}
.productBadgeWarning:before {
  background-color: rgb(var(--warning-rgb));
}

.subtitle {
  font-weight: 300;
  margin-bottom: 20px;
}
